html{
  overflow: hidden;
}

*{
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
}

body {
  background-color: #f4f4f4;
}

.register-content {
  display: flex;
  justify-content: center;
  margin: 180px;
  border-radius: 12px;
}

.form-content {
  background-color: #ffffff;
  width: 500px;
  margin-left: -90px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px;
 
}

.form-group {
  padding: 4px;
  color:#0D6EFD;
}
input{
  height: 47px;
  width: 400px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 0px;
  color: #353535f9;
  padding-left: 15px;
}

.text-form h2{
  align-items: center;
}

#root{
  margin: 0px;
  padding: 0px;
}

::placeholder{
  padding-left: 0px;
  font-size: 18px;
}

.image-register{
  border-radius: 12px;
  width: 550px;
  z-index: 0;
  z-index: -1;
  position: relative;
  
}

.linier-image{
  background: linear-gradient(to left, rgba(0, 0, 0, 100), rgba(0, 0, 0, 0));
  height: auto;
  border-radius: 12px;
}

#checkbox{
  width: 17px;
  margin-right: 20px;
}

.checkbox{
  display:flex;
  justify-content:start;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.btn-daftar{
  width: 400px;
  height: 50px;
  padding: 7px; 
}

@font-face {
  font-family: Roboto;
  src: url(./asset/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto Bold;
  src: url(./asset/Roboto/Roboto-Bold.ttf);
}

h1{
  font-weight: bold;
  text-align: center;
}

.navheader ul li{
  text-decoration: none;
  display: inline;
  padding-right: 20px;
  margin: 0px;
}
.navheader ul {
  padding: 0px;
  margin: 0px;
}

.navheader span{
  padding-right: 20px;
}

.navbar-content h2 {
  margin: 0px;
  padding-right: 150px;
}

.navheader a {
  color: #f4f4f4;
  text-decoration: none;
}

.navbar-content{
  display: flex;
  padding-top:8px ;

}

.search-content input {
  width: 800px;
  height: 35px;
  border-radius: 40px;
}

.search-content button {
  margin: 0px;
  margin-left: -62px;
  height: 30px;
  width: 58px;
  background-color: #0D6EFD;
  border: none;
  border-radius: 40px;
}

.search-content form{
  display: flex;
  justify-content: center;
}

.search-content {
  padding-right: 20px;
  
}

.cart-content{
  display: flex;
  border: 2px white solid;
  background-color: #0D6EFD;
  width: 50px;
  height: 35px;
  border-radius: 8px;
  box-sizing: 2px;
  justify-content: center;
  align-items: center;
  margin-right:20px ;
}

.navbar-content{
  display: flex;
  justify-content: space-evenly;
}

.register-button{
  display: flex;
  border: 2px white solid;
  background-color: #0D6EFD;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  box-sizing: 2px;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  font-weight:500;
}

.register-button:hover{
  background-color: #ffffff;
  color: #0D6EFD;
  font-weight: bold;
  box-shadow: 0px 0px 10px 1px #c3f3ff;
}